<div id="trash" style="border: thin red solid; width: 100%; height: 200px">
</div>

<ul id="notes">
  <% @notes.each do |n| %>
    <%= render 'note', { :note => n } %>
  <% end %>
  <%#= render @notes %>
</ul>

<%= form_for Note.new, remote: true do |f| %>
  <%= f.text_field :content, placeholder: 'Add a new aha! here', size: 50 %>
<% end %>

<%= subscribe_to "/notes" %>
